<div id='article_intro'>
  <p> A <a href="about.html">mnemonic</a> is a tool to help remember facts or a large amount of information. It can be a song, rhyme, acronym, image, or a phrase to help remember a list of facts in a certain order. </p>
  <h2> Examples of Order Mnemonics </h2>
  <ul>
     <li>The order of taxonomy: </li>
  </ul>
  <blockquote>
     <p> Kids Prefer Cheese Over Fried Green Spinach </p>
     <p> (Kingdom, Phylum, Class, Order, Family, Genus, Species) </p>
  </blockquote>
  <ul>
     <li>Treble clef notes: </li>
  </ul>
  <blockquote>
     <p> The lines on the staff: Every Good Boy Deserves Fudge (E, G, B, D, F) </p>
     <p> The spaces on the staff: Furry Animals Cook Excellently (F, A, C, E) </p>
  </blockquote>
  <ul>
     <li>Bass clef notes: </li>
  </ul>
  <blockquote>
     <p> The lines on the staff: Good Boys Do Fine Always (G, B, D, F, A) </p>
     <p> The spaces on the staff: All Cows Eat Grass (A, C, E, G) </p>
  </blockquote>
  <ul>
     <li>Order of Planets: </li>
  </ul>
  <blockquote>
     <p> My Very Excited Mother Just Served Us Nine Pies </p>
     <p> (Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune, and Pluto) </p>
     <p> Or without Pluto: My Very Educated Mother Just Served Us Noodles </p>
  </blockquote>
  <ul>
     <li>Order of math operations: </li>
  </ul>
  <blockquote>
     <p> Please Excuse My Dear Aunt Sally </p>
     <p> (Parentheses, Exponents, Multiply, Divide, Add, and Subtract) </p>
  </blockquote>
  <ul>
     <li>Order of color coding on electronic resistors: </li>
  </ul>
  <blockquote>
     <p> Bad Beer Rots Our Young Guts But Vodka Goes Well (in) Silver Goblets. </p>
     (Black, Blue, Red, Orange, Yellow, Green, Brown, Violet, Gray, White, Silver, Gold) 
  </blockquote>
  <ul>
     <li>The order of the Great Lakes from west to east: </li>
  </ul>
  <blockquote>
     <p> Super Man Helps Every One. </p>
     <p> (Superior, Michigan, Huron, Erie, Ontario) </p>
  </blockquote>
  <ul>
     <li> The first eight U.S. presidents: </li>
  </ul>
  <blockquote>
     <p> Will A Jolly Man Make A Jolly Visitor? </p>
     <p> (George Washington, John Quincy Adams, Thomas Jefferson, James Madison, James Monroe, John Quincy Adams, Andrew Jackson, Martin Van Buren) </p>
  </blockquote>
  <ul>
     <li>The Royal Houses of England and Great Britain: </li>
  </ul>
  <blockquote>
     <p> No Plan Like Yours To Study History Wisely. </p>
     <p> (Norman, Plantagenet, Lancaster, York, Tudor, Stuart, Hanover, Windsor) </p>
  </blockquote>
  <ul>
     <li>The seven articles of the United States Constitution: </li>
  </ul>
  <blockquote>
     <p> Large Elephants Jump Slowly And Sink Rapidly </p>
     <p> (Legislative, Executive, Judicial, Supremacy, Amendment, Statehood, Ratification) </p>
  </blockquote>
  <ul>
     <li>To remember the value of pi: May I have a large container of coffee? </li>
  </ul>
  <blockquote>
     <p> (The number of letters in each word equals the numerals in pi = 3.1415927) </p>
  </blockquote>
  <ul>
     <li>The bones of the wrist: </li>
  </ul>
  <blockquote>
     <p> Some Lovers Try Positions That They Can't Handle </p>
     <p> (Scaphoid, Lunate, Triquetral, Pisiform, Trapezium, Trapezoid, Capitate, Hamate) </p>
  </blockquote>
</div>
<h2> Examples of Acronym Mnemonics: </h2>
<ul>
  <li>ROY G. BIV for the spectrum colors </li>
</ul>
<blockquote>
  <p> (Red, Orange, Yellow, Green, Blue, Indigo, Violet) </p>
</blockquote>
<ul>
  <li>Pvt. Tim Hall for the essential amino acids </li>
</ul>
<blockquote>
  <p> (Phenylanine, Valine, Threonine, Tryptophan, Isoleucine, Methionine, Histidine, Arginine, Leucine, Lysine) </p>
</blockquote>
<ul>
  <li>RICE for the instructions for treating a sprain </li>
</ul>
<blockquote>
  <p> (Rest the injured area, Ice the sprain, Compress with a wrap or bandage, Elevate the injured area) </p>
</blockquote>
<ul>
  <li>FANBOYS for the seven coordinating conjunctions </li>
</ul>
<blockquote>
  <p> (For, And, Nor, But, Or, Yet, So) </p>
</blockquote>
<ul>
  <li>HOMES for the Great Lakes </li>
</ul>
<blockquote>
  <p> (Huron, Ontario, Michigan, Erie, Superior) </p>
</blockquote>
